h1{
    text-align: center;
    color: red;
}
ul.nav {
    padding-left: 0px;
    text-align: center;
  }
  ul.nav > li {
    display: inline-block;
    padding: 0px 10px;
  }
  ul.liste {
    width: 75px;
    margin: 0 auto;
  }
  h3{
    color: goldenrod;
    text-align: center;
  }
  ol{
    width: 200px;
    margin: 0 auto;
  }